<div class="container mt-4">
  <div class="row g-4">
    <!-- Lijevi box -->
    <div class="col-md-4">
      <div class="card text-center p-4 profile-card">
        <img [src]="member?.photoUrl" class="img-fluid bigger-img mx-auto mb-4" alt="Profile photo">
        
        <ul class="list-unstyled text-start">
          <li><strong>Name:</strong> {{member?.username}}</li>
          <li><strong>Country:</strong> {{member?.country}}</li>
          <li><strong>City:</strong> {{member?.city}}</li> 
          <li><strong>Age:</strong> {{member?.age}}</li>
          <li><strong>Gender:</strong> {{member?.gender}}</li>
        </ul>
      </div>
    </div>   
    
    <!-- Desni box -->
    <div class="col-md-8">
      <div class="card p-4 profile-card">
        <tabset class="member-tabs">
          <tab heading="About {{member?.username}}">
            <h4>Description</h4>
            <p>{{member?.description}}</p>
          </tab>

          <tab heading="Photos">
            <p>photos</p>
          </tab>

          <tab heading="Messages">
            <p>messages</p>
          </tab>
        </tabset>
      </div>
    </div>
  </div>
</div>
