.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    flex-wrap: wrap; /* Da se složi jedan ispod drugog na malim ekranima */
    gap:150px; /* Razmak između FaceX i forme */
    
  }
  
  .logo-container {
    display: flex;
    
    justify-content: center;
    align-items: center;
    
  }
  
  .logo-text {
    font-size:5rem;
    font-weight: bold;
  }

.register-container {

    width: 360px;
    padding: 20px;
    
    /* centrirano */
    background: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

}