<div class="row">
  @for (member of members; track member.id) {
    <div class="col-md-4 mb-3">
      <div class="card shadow-sm h-100">
        <div class="card-body d-flex align-items-center">
          
          <img [src]="member.photoUrl"
               alt="{{ member.username }}"
               class="img-thumbnail me-3"
               style="width: 100px; height: 100px; object-fit: cover; border-radius: 8px;" />

          
          <div>
            <h5 class="card-title mb-1">{{ member.username }}</h5>
            <p class="card-text mb-1">
              <strong>Gender:</strong> {{ member.gender }}<br />
              <strong>Age:</strong> {{ member.age }}<br />
              <strong>Email:</strong> {{ member.email }}<br />
              <strong>Country:</strong> {{ member.country }}<br />
              <strong>City:</strong> {{ member.city }}
            </p>
          </div>
        </div>
      </div>
    </div>
  }
</div>